.footer__container {
    background: linear-gradient(133deg, #566270 0%, #283444 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.subscribe__block h4 {
    font-size: 44px;
    font-weight: 500;
    margin-left: 100px;
}


.footer__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 100px;

    p{
        margin-bottom: 20px;
    }
}

.nav__part {
    margin-left: 100px;
}

.line {
    background: #FFF;
    width: 80%;
    height: 1px;
    margin: 50px 0;
}

.copyright p {
    margin-bottom: 50px;
}

//Адаптив под телефоны
@media screen and (max-width: 640px) {
    .footer__navbar {
        flex-direction: column;
    }

    .subscribe__block {
        margin-bottom: 50px;
        h4 {
            text-align: center;
            margin-left: 5%;
            margin-bottom: 15px;
        }
    }

    .navlinks {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    .nav__part {
        margin-bottom: 30px;
        
        p {
            max-width: 50%;
        }
    }

    .line {
        margin: 0;
        margin-bottom: 50px;
    }
}

//Адаптив под средние гориз. планшеты и окна
@media screen and (min-width: 641px) and (max-width: 1000px) {
    .footer__navbar {
        flex-direction: column;
    }

    .subscribe__block {
        margin-bottom: 30px;
        h4 {
            text-align: center;
            margin-right: 5%;
        }
    }

    .navlinks {
        justify-content: center;
        margin-left: 0;
        margin-right: 50px;
    }
}