@import '../../../style/var';

.input__container {
    position: relative;
    width: 300px;
    margin: 20px auto;
}

.input__field {
    width: 100%;
    padding-left: 30px;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 18px 30px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 14px;
}

.submit__button {
    background: $maingradient;
    position: absolute;
    right: -18%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 28px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .input__container {
        width: 200px;
        margin: 0;
        margin-left: 50px;
    }

    .submit__button {
        right: -25%;
        padding: 12px 24px;
    }
}