.arrows {
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 1;

    .left__arrow {
        background-image: url(../../../assets/arrow-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 15px;
            transform: rotate(-90deg);
    }

    .rigth__arrow {
        background-image: url(../../../assets/arrow-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 15px;
        transform: rotate(90deg);
    }
}

.left__arrow, .rigth__arrow {
    height: 40px;
    width: 40px;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 550px) {
    .left__arrow, .rigth__arrow {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 1500px) {
    .arrows {
        .left__arrow {
            margin-left: 10%;
        }
    
        .rigth__arrow {
            margin-right: 10%;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 4000px) {
    .arrows {
        .left__arrow {
            margin-left: 20%;
        }
    
        .rigth__arrow {
            margin-right: 20%;
        }
    }
}