.burger__btn {
    display: none;
}

@media screen and (max-width: 1140px) {
    .burger__btn {
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 3;
    }

    .burger__btn svg {
        height: 50px;
        width: 50px;
    }
}