@import '../../style/var';

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

    .calc_contruction {
        display: flex;
        flex-direction: column;
    }
}

.block__margin,
.label_margin {
    margin-bottom: 5px;
}

.btn {
    align-self: center;
    margin-top: 35px;
    width: 200px;
    height: 50px;
    font-size: 1em;
    background: $maingradient;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 7px;
    cursor: pointer;
}

.prev__price {
    margin-top: 20px;

    p {
        font-size: 18px;

        strong {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}