.sel__label {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.selector {
    height: 40px;
    font-size: 16px;
    border: 2px solid hsla(203, 100%, 50%, 0.6);
    background-color: #f5f5f5;
}