@import '../../../style/var';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    padding-top: 30px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__body {
    margin-right: 50px;
}

.logo {
    margin-left: 60px;
    cursor: pointer;

    img {
        width: 250px;
        height: 65px;
    }
}

.menu_link {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin-right: 50px;
    &:hover {
        color: rgba(0, 156, 253, 0.7);
    }
}

.menu_link_home {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
    &:hover {
        color: #d5d5d5;
    }
}

.active {
    background: $maingradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabinet {
    margin: 0 70px;
}

.cabinet img {
    height: 32px;
}

@media screen and (max-width: 1140px) {
    .nav__list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background: #a8a8a8bb;
        padding-left: 20px;
    }

    .menu_link, .menu_link_home {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .cabinet {
        margin: 0;
    }

    .nav {
        position: relative;
        z-index: 2;
        background-color: #000;
    }
}

@media screen and (max-width: 500px) {
    .nav__list {
        width: 60%;
    }

    .menu_link, .menu_link_home {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .logo {
        margin-left: 30px;
        cursor: pointer;
    
        img {
            width: 200px;
            height: 55px;
        }
    }
}