@import '../../../style/var';

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 100px 20px;

    h4 {
        font-size: 58px;
        font-weight: 500;
        margin-bottom: 40px;
    }
}

.pricing__block {
    background: $maingradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    max-width: 60%;
    padding: 70px;

    .up__side {
        margin-bottom: 75px;

        p {
            font-size: 30px;
            font-weight: 500;
            max-width: 90%;
        }
    } 

    .down__side {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        p {
            font-size: 20px;
            font-weight: 400;
            max-width: 50%;
        }

        .button {
            background-color: #fff;
            border: 0.5px solid #444444;
            border-radius: 15px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 550px) {
    .pricing__container h4 {
        font-size: 38px;
    }

    .pricing__block {
        padding: 40px;
        max-width: 80%;

        .up__side {
            margin-bottom: 30px;

            p {
                font-size: 18px;
            }
        }

        .down__side {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            p {
                font-size: 16px;
                max-width: 90%;
                margin-bottom: 30px;
            }
    
            .button {
                background-color: #fff;
                border: 0.5px solid #444444;
                border-radius: 15px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}