.container {
    background: url(../../../assets/design_header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 800px;
    margin-top: -100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h1 {
        max-width: 50%;
        line-height: 140%;
        font-size: 44px;
        padding: 15px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 970px) {
    .container h1 {
        max-width: 80%;
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        background: url(../../../assets/design_header_mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
        height: 700px;
    }
}