@import '../../../style/var';

.info__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info__img {
    height: 84px;
    width: auto;
}

.info__text {
    margin-left: 25px;

    h6 {
        font-size: 28px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: $smalltext;
    }
}

@media screen and (max-width: 600px) {
    .info__block {
        width: 80%;
        margin: auto 0 30px 15%;
    }

    .info__img {
        height: 72px;
    }

    .info__text {
        h6 {
            font-size: 20px;
        }
    
        p {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1050px) {
    .info__block {
        margin: auto 0 30px 30%;
    }
}