@import '../../../style/var';

.info__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info__img {
    height: 84px;
    width: auto;
}

.info__text {
    margin-left: 25px;

    h6 {
        font-size: 28px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: $smalltext;
    }
}